<div class="center">
    <form class="w-50">
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <div class="w-50">
                    <div class="w-100">
                        <mat-form-field>
                            <input matInput type="email" name="Email" placeholder="Email" aria-describedby="emailHelp">
                        </mat-form-field>
                    </div>
                    <div class="w-100">
                        <mat-form-field>
                            <input matInput type="Password" name="Password" aria-describedby="emailHelp" placeholder="Password">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions class="text-center">
                <button mat-raised-button color="primary">Login</button>
            </mat-card-actions>
            <div>Don't have an account? <a routerLink="/register">Register</a></div>
        </mat-card>
    </form>
</div>