<form action="<?= PATH; ?>#!/User/Index/Login" method="POST" ng-controller="Form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <md-input-container>
          <label>Email</label>
          <input type="email" name="Email" aria-describedby="emailHelp">
        </md-input-container>
        <md-input-container>
          <input type="Password" name="Password" aria-describedby="emailHelp"
                 placeholder="Password">
        </md-input-container>
        <button class="md-raised md-primary" ng-click="submit()">Login</button>
        <div class="form-group col-xs-10">
          <small><?= $Data['Message']; ?></small>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">Don't have an account? <a href="#!/User/Index/Register">Register</a>
      </div>
    </div>
  </div>
  <script>
      // refresh("#top");
  </script>
</form>