<div class="container-fluid col">
    <mat-toolbar color="primary" class="mat-elevation-z5">
        <div class="col">
            <button mat-icon-button (click)="sidenav.toggle()">
                <i class="material-icons">menu</i>
            </button>
        </div>
    </mat-toolbar>
    <div class="row h-100">
        <mat-sidenav-container class="d-flex col p-0">
            <mat-sidenav #sidenav mode="over">
                <button href="" mat-button class="w-100" routerLink="/home" (click)="sidenav.toggle()">
                    <mat-icon>home</mat-icon>
                    Home
                </button>
                <button href="" mat-button class="w-100" routerLink="/login" (click)="sidenav.toggle()">Login</button>
                <button href="" mat-button class="w-100" routerLink="/register" (click)="sidenav.toggle()">Register</button>
            </mat-sidenav>
            <mat-sidenav-content class="w-100 p-3">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
<mat-toolbar color="primary" class="mat-elevation-z5">
    <div class="col">
        <button mat-icon-button (click)="sidenav.toggle()">
            <i class="material-icons">menu</i>
        </button>
    </div>
</mat-toolbar>