html, body {
    height: 100%;
}

body {
    margin: 0;
}

app-root {
    flex-direction: column;
}

mat-sidenav-content > * {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

router-outlet {
    display: none;
}