<div class="col">
  <form class="col w-50 m-auto">
    <mat-card>
      <mat-card-title>Register</mat-card-title>
      <mat-card-content>
        <div class="w-50">
          <div class="w-100">
            <mat-form-field>
              <input matInput type="email" name="Email" placeholder="Email" aria-describedby="emailHelp">
            </mat-form-field>
          </div>
          <div class="w-100">
            <mat-form-field>
              <input matInput type="Password" name="Password" aria-describedby="emailHelp" placeholder="Password">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">Register</button>
      </mat-card-actions>
      <div>Have an account? <a routerLink="/login">Login</a></div>
    </mat-card>
  </form>
</div>